<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

{% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

    </div>

{% include footer.html %}

</body>
</html>